:root{
  --orange: #a54500;
  --blue: #1A73E8;
  --pink: #B84A5B;
  --white: #FFF;
  --dark-red: darkred;
  --green: green;
  --dark-grey: darkgrey
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}